<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.tiotenshi.rssreader" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="29" android:targetSdkVersion="33" />
	<application android:label="Rss Reader" android:usesCleartextTraffic="true" android:theme="@style/MainTheme.Splash"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>